:root{
    --background-col: #454545;
    --header-col: #FF6000;
    --text-hover: #FFA559;
    --text-col: #FFE6C7;
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--background-col)
}

h1,
h2,
h3{
    color: var(--header-col);
    text-align: center;
    margin: 2%;
}

h4,
.nav-link,
.navbar-brand,
.button{
    color: var(--header-col);
}

.button{
    text-decoration: none;
    padding: 10px;
    border-radius: 6%;
    background-color: var(--background-col);
}

.nav-link:hover,
.navbar-brand:hover{
    color: var(--text-hover);
}

p{
    color: var(--text-col);
}
